/*
========================================================================================
Nextflow config file for running warwick_edna nextflow pipeline on vettel
========================================================================================
*/

// Path to blast database
// Note: currently using shared version downloaded 18/11/2024
params.blast_db = "/shared/reference/NCBI_NT/BLASTDB_20241118/nt"

// Path to directory containing PIA installation
// Note: currently using version in shared software directory
params.pia_dir = "/shared/software/PIA"
