/*
========================================================================================
Nextflow config file for running warwick_edna nextflow pipeline on vettel
(paths will need to be updated by user)
========================================================================================
*/

// Path to blast database
params.blast_db = "/home/u2271009/eDNA/bin/blast_db/nt"

// Path to directory containing PIA installation
params.pia_dir = "/home/u2271009/warwick_edna_nf/bin/PIA"